// Imports
@import url("https://fonts.googleapis.com/css2?family=Fraunces&family=Montserrat&display=swap");

// Variables
// - Mobile: 375px
// - Desktop: 1440px

// Primary Colors
$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
//Neutral Colors
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

//Font
$paragraph-size: 14px;
$font-fraunces: "Fraunces", serif;
$font-monserrat: "Montserrat", sans-serif;

/**
 * Component Styles Starts Here:
 */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $cream;
  font-family: $font-monserrat;
}

.main__container {
  width: 100vw;
  min-height: 100vh;

  .product__container {
    overflow: hidden;
    width: 100%;
    height: auto;
    max-width: 600px;

    .product__content-image {
      figure {
        img {
          border-radius: 10px 0 0 10px;
          width: 100%;
          height: auto;
          
          @media (max-width: 768px) {
            border-radius: 10px 10px 0 0;
            object-fit: cover;
            aspect-ratio: 4/3;
          }
        }
      }
    }

    .product__content-description {
      background-color: $white;
      color: $dark-grayish-blue;
      padding: 30px;
      border-radius: 0 10px 10px 0;

      .product__cats {
        span {
          font-family: $font-monserrat;
          font-size: $paragraph-size;
          letter-spacing: 0.2em;
          text-transform: uppercase;
        }
      }

      .product__title {
        h1 {
          color: #000;
          font-family: $font-fraunces;
          font-weight: 800;
          line-height: 32px;
          margin: 22px 0;
        }
      }

      .product__description {
        margin-bottom: 26px;
        p {
          font-size: $paragraph-size;
          line-height: 20px;
        }
      }

      .product__price {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 1.2rem;
        
        span:nth-child(1) {
          color: $dark-cyan;
          font-family: $font-fraunces;
          font-size: 32px;
          font-weight: 700;
          margin-right: 20px;
        }

        span:nth-child(2) {
          text-decoration: line-through;
        }
      }

      .product__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: $dark-cyan;
        border: none;
        border-radius: 10px;
        color: $white;
        font-weight: 700;
        outline: none;
        padding: 15px;
        width: 100%;

        &:active {
          background-color: #1a4131;
        }
      }

      @media (max-width: 768px) {
        border-radius: 0 0px 10px 10px;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 1rem;
  }
}
